Source: opensesame-plugin-parallel-port-trigger
Maintainer: Bob Rosbag <debian@bobrosbag.nl>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/dev-jam/opensesame-plugin-parallel_port_trigger

Package: python3-opensesame-plugin-parallel-port-trigger
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
   python3-opensesame
Description: An OpenSesame plug-in for sending stimulus synchronization triggers through the parallel port to data acquisition systems
 In EEG/ERP studies it is common to send triggers to mark the timestamp for significant events (e.g., the onset of a trial,
 presentation of a particular stimulus, etc.). Triggers are typically bytes that are sent via the parallel port to data
 acquisition systems.

